mixin benefit-item(number, title, content)
    .benefits-bottom-item
        h2= number
        .benefits-bottom-item-content
            h3= title 
            p= content
        .benefits-bottom-item-button
            button
                svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewbox='0 0 26 26' fill='none')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M6.78557 19.2144C7.16633 19.5952 7.78367 19.5952 8.16443 19.2144L17.55 9.82886V17.225C17.55 17.7635 17.9865 18.2 18.525 18.2C19.0635 18.2 19.5 17.7635 19.5 17.225V7.475C19.5 6.93652 19.0635 6.5 18.525 6.5H8.775C8.23652 6.5 7.8 6.93652 7.8 7.475C7.8 8.01348 8.23652 8.45 8.775 8.45H16.1711L6.78557 17.8356C6.40481 18.2163 6.40481 18.8337 6.78557 19.2144Z' fill='#FF9500')
mixin course-item(No,time,level,lecturer,title,content)
    .course-bottom-item 
        img(src=`./images/course (${No}).png`, alt="")
        .course-bottom-container 
            .course-bottom-time 
                span=time
                span=level
            span.lecturer=lecturer
        h3=title
        p=content
        button.course-bottom-button Get it Now
mixin testimonial-item(content, name, No)
    .testimonial-bottom-item
        p= content
        .testimonial-bottom-profile
            .testimonial-bottom-img
                img(src=`./images/profile (${No}).png`, alt="")
                span.name= name
            button.testimonial-bottom-button Read Full Story
mixin top-tile(title,content)
    .benefits-top
        .benefits-top-content
            h2= title 
            p= content
        .benefits-top-view 
            button View All

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../css/home_page/home.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Inter:wght@600&display=swap" rel="stylesheet")
    body
        include ../../../Layout/Header/Header.pug
        main
            section.Hero 
                .Hero-container 
                    .Hero-content
                        .Hero-image
                            .icon
                                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M14.6152 1.59493C14.9165 1.76287 15.0643 2.1146 14.9736 2.44734L12.982 9.75H20.25C20.5487 9.75 20.8189 9.92719 20.9379 10.2011C21.0569 10.475 21.0021 10.7934 20.7983 11.0117L10.2983 22.2617C10.063 22.5139 9.68604 22.573 9.38481 22.4051C9.08357 22.2371 8.9357 21.8854 9.02644 21.5527L11.0181 14.25H3.75002C3.45137 14.25 3.18118 14.0728 3.06216 13.7989C2.94313 13.525 2.99795 13.2066 3.20173 12.9883L13.7017 1.73826C13.937 1.48613 14.314 1.42699 14.6152 1.59493Z' fill='#262626')
                            h2 Your Creative Potential
                            svg(xmlns='http://www.w3.org/2000/svg' width='39' height='43' viewbox='0 0 39 43' fill='none')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M13.0489 40.1274C9.32492 39.0757 5.42609 38.5452 1.64397 38.0592C0.829355 37.9573 0.0730442 38.5259 0.0148577 39.3269C-0.101515 40.1286 0.480691 40.8617 1.23712 40.9636C4.90286 41.4314 8.68465 41.9321 12.234 42.9445C12.9904 43.1641 13.8054 42.7121 14.0381 41.9345C14.2709 41.1574 13.8053 40.3476 13.0489 40.1274Z' fill='#262626')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M24.3365 25.2172C18.3433 19.0623 11.5937 13.6997 5.71685 7.37974C5.19318 6.78949 4.26219 6.75787 3.68033 7.30888C3.09846 7.86048 3.0405 8.78802 3.62237 9.37826C9.4992 15.7164 16.2488 21.0966 22.242 27.2696C22.8239 27.8458 23.7547 27.854 24.3365 27.2872C24.8602 26.7209 24.9184 25.7934 24.3365 25.2172Z' fill='#262626')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M35.5672 1.54341C35.7417 5.06616 35.9159 8.58891 36.0905 12.1123C36.0905 12.9192 36.7891 13.5422 37.6037 13.503C38.4183 13.4631 38.9998 12.7763 38.9998 11.9688C38.8253 8.44018 38.651 4.91216 38.4765 1.38413C38.4183 0.577224 37.7199 -0.0417174 36.9053 0.00219986C36.1489 0.0461172 35.509 0.737085 35.5672 1.54341Z' fill='#262626')
                        h3 with Online Design and Development Courses.
                        span Learn from Industry Experts and Enhance Your Skills.
                    .Hero-buttons
                        button.explore Explore Courses
                        button.view View Pricing
            section.brand
                .brand-container 
                    - var n = 0;
                    while n < 7
                        a(href="#").brand-logo 
                            img(src=`./images/logo (${n}).png`, alt="")
                        - n++;
            section.main-img 
                .main-img-container
                    img(src="./images/Container.png", alt="")    
            section.benefits
                .benefits-container
                    +top-tile("Benefits", "Lorem ipsum dolor sit amet consectetur. Tempus tincidunt etiam eget elit id imperdiet et. Cras eu sit dignissim lorem nibh et. Ac cum eget habitasse in velit fringilla feugiat senectus in.")
                    .benefits-bottom 
                        +benefit-item("01", "Learn Anywhere", "Fit your coursework around your existing commitments and obligations.")
                        +benefit-item("02", "Expert Instruction", "Learn from industry experts who have hands-on experience in design and development.")
                        +benefit-item("03", "Diverse Course Offerings", "Explore a wide range of design and development courses covering various topics.")
                        +benefit-item("04", "Updated Curriculum", "Access courses with up-to-date content reflecting the latest trends and industry practices.")
                        +benefit-item("05", "Practical Projects and Assignments", "Develop a portfolio showcasing your skills and abilities to potential employers.")
                        +benefit-item("06", "Interactive Learning Environment", "Collaborate with fellow learners, exchanging ideas and feedback to enhance your understanding.")
            section.course 
                .course-container
                    +top-tile("Our Courses", "Lorem ipsum dolor sit amet consectetur. Tempus tincidunt etiam eget elit id imperdiet et. Cras eu sit dignissim lorem nibh et. Ac cum eget habitasse in velit fringilla feugiat senectus in.")
                    .course-bottom
                        +course-item(0,"4 Weeks","Beginner","By John Smith","Web Design Fundamentals","Learn the fundamentals of web design, including HTML, CSS, and responsive design principles. Develop the skills to create visually appealing and user-friendly websites.")
                        +course-item(1,"6 Weeks","Intermediate","By Emily Johnson","UI/UX Design","Master the art of creating intuitive user interfaces (UI) and enhancing user experiences (UX). Learn design principles, wireframing, prototyping, and usability testing techniques.")
                        +course-item(2,"8 Weeks","Intermediate","By David Brown","Mobile App Development","Dive into the world of mobile app development. Learn to build native iOS and Android applications using industry-leading frameworks like Swift and Kotlin.")
                        +course-item(3,"10 Weeks","Beginner","By Sarah Thompson","Graphic Design for Beginners","Discover the fundamentals of graphic design, including typography, color theory, layout design, and image manipulation techniques. Create visually stunning designs for print and digital media.")
                        +course-item(4,"10 Weeks","Intermediate","By Michael Adams","Front-End Web Development","Become proficient in front-end web development. Learn HTML, CSS, JavaScript, and popular frameworks like Bootstrap and React. Build interactive and responsive websites.")
                        +course-item(5,"6 Weeks","Advance","By Jennifer Wilson","Advanced JavaScript","Take your JavaScript skills to the next level. Explore advanced concepts like closures, prototypes, asynchronous programming, and ES6 features. Build complex applications with confidence.")
            section.testimonial
                .testimonial-container
                    +top-tile("Our Testimonials", "Lorem ipsum dolor sit amet consectetur. Tempus tincidunt etiam eget elit id imperdiet et. Cras eu sit dignissim lorem nibh et. Ac cum eget habitasse in velit fringilla feugiat senectus in.")
                    .testimonial-bottom 
                        +testimonial-item("The web design course provided a solid foundation for me. The instructors were knowledgeable and supportive, and the interactive learning environment was engaging. I highly recommend it!", "Sarah L", "0")                      
                        +testimonial-item("The UI/UX design course exceeded my expectations. The instructor's expertise and practical assignments helped me improve my design skills. I feel more confident in my career now. Thank you!", "Jason M", "1")
                        +testimonial-item("The mobile app development course was fantastic! The step-by-step tutorials and hands-on projects helped me grasp the concepts easily. I'm now building my own app. Great course!", "Emily R", "2")
                        +testimonial-item("I enrolled in the graphic design course as a beginner, and it was the perfect starting point. The instructor's guidance and feedback improved my design abilities significantly. I'm grateful for this course!", "Michael K", "3")
            section.pricing
                .pricing-container
                    .pricing-top
                        .pricing-top-content
                            h2 Our Pricing 
                            p Lorem ipsum dolor sit amet consectetur. Tempus tincidunt etiam eget elit id imperdiet et. Cras eu sit dignissim lorem nibh et. Ac cum eget habitasse in velit fringilla feugiat senectus in.
                        .pricing-top-view 
                            input(type="radio",name='view',id="Month",checked)
                            label.Month(for="Month") Monthly
                            input(type="radio",name='view',id="Year")
                            label.Year(for="Year") Yearly
                    .pricing-bottom
                        .pricing-bottom-item 
                            h3.pricing-bottom-title Free Plan
                            h2.money $0
                            .pricing-bottom-feature
                                ul
                                    h3 Available Features                            
                                    li 
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Access to selected free courses.
                                        
                                    li 
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Limited course materials and resources.
                                    li 
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Basic community support.
                                    li
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span No certification upon completion.
                                    li    
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Ad-supported platform.
                                    li
                                        svg.cross(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(d='M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z' fill='#262626')
                                        span Access to exclusive Pro Plan community forums.
                                    li 
                                        svg.cross(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(d='M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z' fill='#262626')
                                        span Early access to new courses and updates.     
                            button.pricing-bottom-button Get Started
                        .pricing-bottom-item 
                            h3.pricing-bottom-title Pro Plan
                            h2.money $79
                            .pricing-bottom-feature
                                ul
                                    h3 Available Features                            
                                    li 
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Unlimited access to all courses.
                                        
                                    li 
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Unlimited course materials and resources.
                                    li 
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Priority support from instructors.
                                    li
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Course completion certificates.
                                    li    
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Ad-free experience.
                                    li
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Access to exclusive Pro Plan community forums.
                                    li 
                                        svg.tick(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                                            path(fill-rule='evenodd' clip-rule='evenodd' d='M13.364 3.32297C13.6276 3.52379 13.6785 3.90027 13.4777 4.16385L7.07765 12.5639C6.97272 12.7016 6.81341 12.7873 6.64066 12.7989C6.46791 12.8105 6.29856 12.7469 6.17613 12.6245L2.57613 9.02449C2.34181 8.79018 2.34181 8.41028 2.57613 8.17596C2.81044 7.94165 3.19034 7.94165 3.42465 8.17596L6.5392 11.2905L12.5231 3.4366C12.724 3.17302 13.1004 3.12214 13.364 3.32297Z' fill='#262626')
                                        span Early access to new courses and updates.     
                            button.pricing-bottom-button Get Started
            section.faq
                .faq-container 
                    .faq-question
                        h2 Frequently Asked Questions
                        p Still you have any questions? Contact our Team via support@skillbridge.com
                        button See All FAQ’s
                    .faq-detail 
                        each val in ['Can I enroll in multiple courses at once?','What kind of support can I expect from instructors?','Are the courses self-paced or do they have specific start and end dates?','Are there any prerequisites for the courses?','Can I download the course materials for offline access?']
                            .faq-detail-item 
                                span= val
                                button 
                                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                                        path(d='M6 12H12M18 12H12M12 12V6M12 12V18' stroke='#262626' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        include ../../../Layout/Footer/Footer.pug
                       





                            