mixin card(num, hd, details)
    h2.ordinal-num= `0${num}` 
    h2.hd= hd
    .card-details 
        each detail in details
            .card-detail 
                .card-dt-top 
                    h4.detail-hd= detail[0]
                    span.lesson Lesson #{detail[1]}
                .time-line 
                    svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M10 5.5V10.5H13.75M17.5 10.5C17.5 14.6421 14.1421 18 10 18C5.85786 18 2.5 14.6421 2.5 10.5C2.5 6.35786 5.85786 3 10 3C14.1421 3 17.5 6.35786 17.5 10.5Z" stroke="#4C4C4D" stroke-linecap="round" stroke-linejoin="round")
                    span.time= detail[2]


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Inter:wght@300;400;500;600;800&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="../../../Layout/Footer/Footer.css")
        link(rel="stylesheet", href="../../../Layout/Header/style.css")
        link(rel="stylesheet", href="../../css/CoursesOpenPage.css")
    body 
        include ../../../Layout/Header/Header.pug
        main 
            section.containerA 
                .header 
                    h1 UI/UX Design Course
                p.welcome Welcome to our UI/UX Design course! This comprehensive program will equip you with the knowledge and skills to create exceptional user interfaces (UI) and enhance user experiences (UX). Dive into the world of design thinking, wireframing, prototyping, and usability testing. Below is an overview of the curriculum
            section.containerB 
                button.iconing 
                    svg.ic(xmlns="http://www.w3.org/2000/svg", width="34", height="35", viewBox="0 0 34 35", fill="none")
                        path(d="M10.7107 5.329C9.01265 4.25849 6.80078 5.47878 6.80078 7.48611V27.5141C6.80078 29.5214 9.01265 30.7417 10.7107 29.6712L26.5949 19.6572C28.1817 18.6568 28.1817 16.3433 26.5949 15.343L10.7107 5.329", fill="white")

                img.cenImg(src="../../Resources/images/secB.png", alt="")
            section.containerC 
                .cd
                    h2.ordinal-num  1 
                    h2.hd Introduction to UI/UX Design
                    .card-details 
                        .card-detail 
                            .card-dt-top 
                                h4.detail-hd Understanding UI/UX Design Principles
                                span.lesson Lesson 01
                            .time-line 
                                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M10 5.5V10.5H13.75M17.5 10.5C17.5 14.6421 14.1421 18 10 18C5.85786 18 2.5 14.6421 2.5 10.5C2.5 6.35786 5.85786 3 10 3C14.1421 3 17.5 6.35786 17.5 10.5Z" stroke="#4C4C4D" stroke-linecap="round" stroke-linejoin="round")
                                span.time 45 Minutes
                        .card-detail.special1
                            .card-dt-top 
                                h4.detail-hd Importance of User-Centered Design
                                span.lesson Lesson 02
                            .time-line.special2 
                                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M10 5.5V10.5H13.75M17.5 10.5C17.5 14.6421 14.1421 18 10 18C5.85786 18 2.5 14.6421 2.5 10.5C2.5 6.35786 5.85786 3 10 3C14.1421 3 17.5 6.35786 17.5 10.5Z" stroke="#4C4C4D" stroke-linecap="round" stroke-linejoin="round")
                                span.time 1 Hour
                        .card-detail 
                            .card-dt-top 
                                h4.detail-hd The Role of UI/UX Design in Product Development
                                span.lesson Lesson 03
                            .time-line 
                                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M10 5.5V10.5H13.75M17.5 10.5C17.5 14.6421 14.1421 18 10 18C5.85786 18 2.5 14.6421 2.5 10.5C2.5 6.35786 5.85786 3 10 3C14.1421 3 17.5 6.35786 17.5 10.5Z" stroke="#4C4C4D" stroke-linecap="round" stroke-linejoin="round")
                                span.time 45 Minutes
                .cd
                    +card("2",
                        "User Research and Analysis",
                        [
                            ["Conducting User Research and Interviews", "01", "1 Hour"],
                            ["Analyzing User Needs and Behavior", "02", "1 Hour"],
                            ["Creating User Personas and Scenarios", "03", "45 Minutes"]
                        ]
                    )
                .cd
                    +card("3",
                        "Wireframing and Prototyping",
                        [
                            ["Introduction to Wireframing Tools and Techniques", "01", "1 Hour"],
                            ["Creating Low-Fidelity Wireframes", "02", "1 Hour"],
                            ["Prototyping and Interactive Mockups", "03", "1 Hour"]
                        ]
                    )
                .cd
                    +card("4",
                        "Visual Design and Branding",
                        [
                            ["Color Theory and Typography in UI Design", "01", "1 Hour"],
                            ["Visual Hierarchy and Layout Design", "02", "1 Hour"],
                            ["Creating a Strong Brand Identity", "03", "45 Minutes"]
                        ]
                    )
                .cd
                    +card("5",
                        "Usability Testing and Iteration",
                        [
                            ["Usability Testing Methods and Techniques", "01", "1 Hour"],
                            ["Analyzing Usability Test Results", "02", "45 Minutes"],
                            ["Iterating and Improving UX Designs", "03", "45 Minutes"]
                        ]
                    )
        include ../../../Layout/Footer/Footer.pug